<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% block title_page %}
        <title>{{ title|default:"Vim Guide Survivor" }}</title>
    {% endblock %}
    {% block meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}

    {% block stylesheets %}
        <!-- Le styles -->
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        </style>
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    {% endblock %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    {% block navbar %}
        {% include "navbar.html" %}
    {% endblock %}

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Saiba usar o Vim</h1>
        <p>Aprenda a usar um dos mais antigos editores de texto no mundo Unix</p>
        <a href="#">Teste</a>
        <!--p><a class="btn btn-primary btn-large">Saiba mais &raquo;</a></p-->
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
            <h2>Screencasts</h2>
            <img src="http://placehold.it/280x150" alt="" style="margin: 3% 0;" />
            <p>Aprenda a usar o Vim assistindo aos screencasts divido em níveis: Iniciante, Intermediário e Avançado</p>
          <p><a class="btn" href="#">Detalhes &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>Artigos</h2>
            <img src="http://placehold.it/280x150" alt="" style="margin: 3% 0;" />
            <p>Nos artigos contêm várias dicas e informações para melhorar e evoluir o seu uso do editor com vários usuários experientes.</p>
            <p><a class="btn" href="#">Detalhes &raquo;</a></p> </div>
        <div class="span4">
            <h2>Snippets</h2>
            <img src="http://placehold.it/280x150" alt="" style="margin: 3% 0;" />
            <p>Os snippets contêm vários tipos de configurações e customizações que são usado no Vim. Venha e coloque as suas personalizações.</p>
            <p><a class="btn" href="#">Detalhes &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Copyleft 2012</p>
      </footer>

    </div> <!-- /container -->

    {% block scripts %}
        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ STATIC_URL }}js/jquery.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    {% endblock %}
  </body>
</html>
